<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="userRepository" class="com.horrorcore.UserRepository" />

    <bean id="userService" class="com.horrorcore.UserService">
        <constructor-arg index="0" ref="userRepository" />
    </bean>

    <bean id="adminService" class="com.horrorcore.AdminService">
        <constructor-arg index="0" ref="userRepository" />
    </bean>

</beans>
